{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "insertPragma": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "trailingComma": "all",
  "useTabs": false,
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true
}
