@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #10b981;
  --brand-secondary: #34d399;
  --brand-tertiary: #a3e635;
  --point-purple: #a855f7;
  --point-blue: #3b82f6;
  --point-cyan: #06b6d4;
  --point-pink: #ec4899;
  --point-rose: #f43f5e;
  --point-orange: #f97316;
  --point-yellow: #eab308;
  --background-primary: #0f172a;
  --background-secondary: #1e293b;
  --background-tertiary: #334155;
  --background-inverse: #fff;
  --interaction-inactive: #94a3b8;
  --interaction-hover: #059669;
  --interaction-pressed: #047857;
  --interaction-focus: #10b981;
  --border-primary: #f8fafc50;
  --text-primary: #f8fafc;
  --text-secondary: #cbd5e1;
  --text-tertiary: #e2e8f0;
  --text-default: #64748b;
  --text-inverse: #fff;
  --text-disabled: #94a3b8;
  --status-danger: #dc2626;
  --icon-primary: #64748b;
  --icon-inverse: #f8fafc;
  --icon-brand: #10b981;
}

html {
  font-size: 62.5%;
}

@layer components {
  .btn-container {
    @apply text-text-inverse;
    @apply disabled:bg-interaction-inactive;
  }

  .btn-container-primary {
    @apply hover:bg-interaction-hover;
    @apply active:bg-interaction-pressed;
    @apply btn-container bg-brand-primary;
  }

  .btn-container-danger {
    @apply btn-container bg-status-danger;
  }

  .btn-outline {
    @apply box-border border;
    @apply disabled:border-interaction-inactive disabled:text-interaction-inactive;
  }

  .btn-outline-primary {
    @apply hover:border-interaction-hover hover:text-interaction-hover;
    @apply active:border-interaction-pressed active:text-interaction-pressed;
    @apply border-brand-primary text-brand-primary;
    @apply btn-outline;
  }

  .btn-ghost {
    @apply btn-outline bg-white;
  }

  .btn-ghost-primary {
    @apply btn-outline-primary;
    @apply btn-ghost;
  }

  .btn-ghost-default {
    @apply border-text-default text-text-default;
    @apply btn-ghost;
  }

  .auth-divider::after,
  .auth-divider::before {
    @apply inline-block h-[1px] w-full bg-border-primary content-[''];
  }

  .green-underline {
    @apply text-md font-medium text-emerald-500 underline decoration-solid decoration-from-font underline-offset-2 sm:text-base sm:leading-[1.5];
  }
}
